<div id="about" class="container" style="padding-top: 30px;">
  <blockquote>
    <p>Moloch whose love is endless oil and stone! Moloch whose soul is electricity and banks!<br />Moloch whose poverty is the specter of genius! Moloch whose fate is a butt of sexless<br />hydrogen! Moloch whose name is the Mind!</p>
    <cite>Howl by Allen Ginsberg</cite>
  </blockquote>
</div>