<div class="about ten columns offset-by-two">
	<form action="/blog/add" method="POST" class="pure-form">
	      <input type="text" name="title" placeholder="title" />
	      <textarea class="monospace" name="text" placeholder="text"></textarea> 
	      <input type="submit" value="submit" class="pure-button pure-button-primary"/>
	</form>
</div>