<div class="blogpost ten columns offset-by-two">
    <div id="blogpost-header-{{.ObjId | formatId}}" class="blogpost-header">
      <ul>
      <li class="blogpost-title">
        <h3><a class="blogpost-title" href="/post/{{.ObjId | formatId}}">{{.Title}}</a></h3>
      </li>
      <li>
          <small>{{.Written | formatTime}} by {{.Author}}{{if eq isUserAuthed true}} | <a href="/blog/edit/{{.ObjId | formatId}}">EDIT</a> - <a href="/blog/delete/{{.ObjId | formatId}}">DELETE</a>{{end}}</small>
      </li>
      </ul>
    </div>
    <div id="blogpost-body-{{.ObjId | formatId}}" class="blogpost-body">
      {{.Text | unescaped}}
    </div>
</div>