 {{ range . }}
 <div class="blogpost ten columns offset-by-two">
    <div id="blogpost-header-{{.ObjId | formatId}}" class="blogpost-header">
      <ul>
      <li class="blogpost-title">
        <h3><a class="blogpost-title" href="/post/{{.ObjId | formatId}}">{{.Title}}</a></h3>
      </li>
      <li>
          <small>{{.Written | formatTime}} by {{.Author}}</small>
      </li>
      </ul>
    </div>
    <div id="blogpost-body-{{.ObjId | formatId}}" class="blogpost-body">
      {{.Text | unescaped}}
    </div>
</div>
{{ end }}