<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>tinkerfool:blog</title>
	<meta name="description" content="Tinkerfool">
	<meta name="author" content="Frieder Steinmetz">
	<meta property="twitter:account_id" content="1337" />
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/stylesheets/base.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/docs.css">

	<!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

</head>

<body>
<div id="header" class="container" style="padding-top: 0px; padding-bottom: 30px">
	<div class="ten offset-by-two columns"><h1>.tinkerfool</h1></div>
</div>
<!-- end container -->

<div id="menu" class="container" style="padding-top: 0px;">
	<div class="ten offset-by-two columns" style="border-top: 1px solid; border-bottom: 1px solid; border-color: #AAAAAA;">
		<ul class="menu" style="margin-bottom: 0px;">
			<li class="blogpost-title" style="display: inline; padding: 0px 60px 0px 0px;">
				<h4 style="display: inline;"><a href="/" style="text-decoration: none;">Home</a></h4>
			</li>
			<li style="display: inline; padding: 0px 60px 0px 0px;">
				<h4 style="display: inline;"><a href="/about" style="text-decoration: none;">About</a></h4>
			</li>
		</ul>
	</div>
</div>
<!-- end container -->

<div id="blogposts" class="container" style="padding: 0px;">
<div class="twelve offset-by-two columns">
  {{yield}}
 </div>
</div>
<!-- end container -->

<div id="footer" class="container">
<div class="eight offset-by-two columns">
    <p><small>You can find me on <a href="https://github.com/willnix" target="_blank">Github</a> and <a href="https://twitter.com/twillnix" target="_blank">Twitter</a> Here's my <a href="pubkey.txt">public key.</a></small></p>
    <p><small><a href="impressum">Impressum</a></small></p>
</div>
</div>

</body>
</html>