<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>tinkerfool:blog</title>
	<meta name="description" content="Tinkerfool">
	<meta name="author" content="Frieder Steinmetz">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="//tinkerfool.org/css/base.css">
	<link rel="stylesheet" href="//tinkerfool.org/css/skeleton.css">
	<link rel="stylesheet" href="//tinkerfool.org/css/layout.css">

	<!-- Favicon
	================================================== -->
	<link rel="shortcut icon" href="//tinkerfool.org/img/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="//tinkerfool.org/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//tinkerfool.org/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//tinkerfool.org/img/apple-touch-icon-114x114.png">

</head>

<body>
<div id="header" class="container">
	<div class="ten offset-by-two columns"><h1>.tinkerfool</h1></div>
</div>
<!-- end container -->

<div id="menu" class="container">
	<div class="ten offset-by-two columns">
		<ul class="menu">
			<li id="firstmenuelement">
				<h4><a href="/">Home</a></h4>
			</li>
			<li id="secondmenuelement">
				<h4><a href="/about">About</a></h4>
			</li>
		</ul>
	</div>
</div>
<!-- end container -->

<div id="blogposts" class="container">
  {{yield}}
</div>
<!-- end container -->

<div id="footer" class="container">
<div class="eight offset-by-two columns">
    <p><small>You can find me on <a href="https://github.com/willnix" target="_blank">Github</a> and <a href="https://twitter.com/twillnix" target="_blank">Twitter</a> Here's my <a href="pubkey.txt">public key.</a></small></p>
    <p><small><a href="impressum">Impressum</a>{{if eq isUserAuthed true}} <a href="/logout">Logout</a>{{end}}</small></p>
</div>
</div>

</body>
</html>