<div class="about ten columns offset-by-two">
  <form action="/user/login" method="POST">
    <label for="username">Name</label>
    <input type="text" id="username" name="name">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <input type="submit">
  </form>
</div>